@{
    ViewData["Title"] = "Create Form";
}


<h2>Create Form</h2>


<form method="post" asp-action="Create" id="formBuilder">
    <div>
        <label>Form Title</label>
        <input type="text" name="title" id="formTitle" required />
    </div>


    <hr />


    <div id="fieldsContainer">
        <!-- dynamic fields will be appended here -->
    </div>


    <button type="button" id="addMoreBtn">Add More</button>


    <div style="margin-top:20px;">
        <button type="submit">Submit</button>
        <a asp-action="Index">Cancel</a>
    </div>
</form>


<script src="/js/form-builder.js"></script>