@{
    ViewData["Title"] = "Create Form";
}

<h2>Create Form</h2>


<form method="post" asp-action="Create" id="formBuilder">
    <div class="mb-3">
        <label for="formTitle" class="form-label fw-bold">Form Title</label>
        <input class="form-control" type="text" name="title" id="formTitle" required>
    </div>    
    <div id="fieldsContainer" class="mb-3">
        <!-- dynamic fields will be appended here -->
    </div>
    <button type="button" class="btn btn-info text-white fw-bold" id="addMoreBtn">Add More</button>
    <div class="mt-5">
        <button type="submit" class="btn btn-primary fw-bold">Submit</button>
        <a class="btn btn-danger fw-bold" asp-action="Index">Cancel</a>
    </div>
</form>

<script src="/js/form-builder.js"></script>